In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from api_keys import google, openweather

In [5]:
file = 'weather.csv'
df=pd.read_csv(file)

df.head()

,Unnamed: 0,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,...,wind.gust,clouds.all,sys.country,sys.sunrise,sys.sunset,sys.type,sys.id,message,rain.1h,snow.1h
0,0,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.620917e+09,-7200.0,3418910.0,Upernavik,200,-56.1549,...,5.30,100.0,GL,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
1,0,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000.0,1.620917e+09,36000.0,2163355.0,Hobart,200,147.3294,...,5.99,13.0,AU,1.620940e+09,1.620976e+09,2.0,2002195.0,NaN,NaN,NaN
2,0,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000.0,1.620917e+09,-21600.0,6170031.0,Tuktoyaktuk,200,-133.0374,...,NaN,20.0,CA,1.620901e+09,1.620977e+09,1.0,942.0,NaN,NaN,NaN
3,0,"[{'id': 803, 'main': 'Clouds', 'description': ...",stations,10000.0,1.620917e+09,-21600.0,6185377.0,Yellowknife,200,-114.3525,...,8.99,75.0,CA,1.620903e+09,1.620966e+09,2.0,19346.0,NaN,NaN,NaN
4,0,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.620917e+09,25200.0,1562798.0,Vinh,200,105.6667,...,7.99,88.0,VN,1.620858e+09,1.620905e+09,NaN,NaN,NaN,NaN,NaN